<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<title>{% block title %}{% endblock %}</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" type=text/css href="static/css/bootstrap.min.css" >

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
     <script src='static/js/jquery-3.1.1.min.js' ></script>
     <!-- Include all compiled plugins (below), or include individual files as needed -->
     <script src="static/js/bootstrap.min.js"></script>
  	<div class="bs-example" data-example-id="nav-tabs-with-dropdown" style='background-color:#FFF8D2;font-color:red;'>
  		<ul class="nav nav-tabs">
        <li role="presentation" class="dropdown">
	  {% for nav in navs %}
		<li>{{ nav.name }}</li>
	  {% endfor %}
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            仪表盘 <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">暂未开放</a></li>
          </ul>
        </li>
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            监控 <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">暂未开放</a></li>
          </ul>
        </li>
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            主机 <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">暂未开放</a></li>
          </ul>
        </li>
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            模板 <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">暂未开放</a></li>
          </ul>
        </li>
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            模板 <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">暂未开放</a></li>
          </ul>
        </li>
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            监控项 <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">暂未开放</a></li>
          </ul>
        </li>      
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            配置 <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">暂未开放</a></li>
          </ul>
        </li>
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
           管理 <span class="caret"></span>
         </a>
         <ul class="dropdown-menu">
           <li><a href="#">主机管理</a></li>
           <li><a href="#">用户管理</a></li>
           <li><a href="#">后台系统管理</a></li>
         </ul>
       </li>
     </ul>
     <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        登录 <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#">退出</a></li>
      </ul>
    </li>
    <ul class="nav navbar-nav navbar-right" style="margin-right:60px;color:red;font-size:30px;">
      <li>医教园服务器运维管理平台</li>
    </ul>
  </div>

  <div id="content">{% block content %}{% endblock %}</div>
  <div id="login">{% block login %}{% endblock %}</div>
</body>
</html>
